html, body {
    margin: 0;
    padding: 0;
}

.container-apresentacao {
    display: grid;
    grid-template-areas:
        "texto"
        "imagem";
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    padding-bottom: 5%;
    padding-top: 5%;
}

h1 {
    margin-top: 0;
    font-family: 'Vidaloka', serif;
}

.texto-pig-bank {
    display: grid;
    grid-template-columns: 25% 50% 25%;
}
#porcoclassico {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.container-comousar {
    background-color: #FFCB7C;
    padding-top: 5%;
}


.como-usar {
    padding-top: 5%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-areas:
        "vazio"
        "box1"
        "box2"
        "box3"
        "vazio2";
    grid-template-columns: 12.5% 25% 25% 25% 12.5%;
    padding-bottom: 1%;
}

#img-comousar{
    display: block;
    margin-left: auto;
    margin-right: auto
}

.item-comousar {
    text-align: center;
    width: 90%;
}

.titulo-comousar{
    margin-left: 12.5%;
}
.container-jatemmeta {
    padding-top: 5%;
    padding-bottom: 10%;
    display: grid;
    grid-template-areas:
        "texto"
        "imagem";
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
}
.texto-jatemmeta {
    display: grid;
    grid-template-columns: 25% 50% 25%;
}

.como-usartxt {
    padding-top: 0;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-areas:
        "vazioA"
        "txt1"
        "txt2"
        "txt3"
        "vazioB";
    grid-template-columns: 12.5% 25% 25% 25% 12.5%;
    padding-bottom: 10%;
    text-align: center;
}
.txt {
    width: 95%;
}
.txt-blocos {
    font-size: 17pt;
    font-family: 'Vidaloka', serif;
}

.txt-margin {
    margin-bottom: 5%;
}

.txt-final {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10%;
}

button {
    background-color: #FFCB7C;
    border: none;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
}