
.Footer {
    background-color: #f9d285;
    padding-bottom: 1%;
    padding-top: 1%;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
}
#footer {
    margin: 0;
}