.container-menu {
    margin-left: 1%;
    margin-top: 1%;
}

#nav-icon1 span{
    display: block;
    margin:4px;
    height: 9px;
    width:60px;
    background: black;
    border-radius: 9px;
}

#nav-menu1:checked ~ #nav-icon1 span:nth-child(1){
    -webkit-transform: rotate(135deg) translate(21px,-13px);
    -moz-transform: rotate(135deg) translate(21px,-13px);
    -o-transform: rotate(135deg) translate(21px,-13px);
    transform: rotate(135deg) translate(21px,-13px);
}

#nav-menu1:checked ~ #nav-icon1 span:nth-child(2){
     opacity: 0;
}

#nav-menu1:checked ~ #nav-icon1 span:nth-child(3){
    -webkit-transform: rotate(-135deg) translate(3px);
    -moz-transform: rotate(-135deg) translate(3px);
    -o-transform: rotate(-135deg) translate(3px);
    transform: rotate(-135deg) translate(3px);
}

input[type="checkbox"]{
    display:none;
}

#nav-icon1 span{  
    cursor:pointer; 
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}



#links a {
    pointer-events: all;
}
#links {
    margin-top: 5%;
    padding: 1%;
}