

.open .nav-menu {
    display: flex;
}

.close .nav-menu {
    display: none;
}

#links{
    display: flex;
    flex-direction: column;
    width: 15%;
    /*margin-left: 2%;*/
    border-radius: 15px;
    border: 8px solid black;
    transition: opacity 0.5s;
    transition: all 0.3s ;
    animation: link .3s ease-out;
}

.menu {
    margin-bottom: 2%;
    width: 100%;
}

@keyframes link {
    0% {
        transform: translateX(-100px);
    }
    100% {
        transform: translateX(0px);
    }

}
