.Construcao { 
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-soon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3%;
}

#porcoconstrucao {
    width: 60%;
}


