
.card {
    display: flex;
    width: 35%;
    background-color: wheat;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10px 10px 20px #666666;
}

.conjunto-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
}

.titulo {
    margin-left: 5%;
}

.preco {
    justify-content: flex-end;
    text-align: right;
    margin: 0;
    margin-right: 5%;
}

h4 {
    font-size: 40pt;
    margin: 0;
    font-family: 'Lora', serif;
}
h3 {
    margin: 0;
    font-size: 11pt;
    padding-top: 10%;
    font-family: 'Lora', serif;
}
p{ 
    margin: 0;
    margin-top: 2%;
    font-family: 'Lora', serif;
}
.maxmin {
    font-size: 13pt;
}
#data {
    opacity: 80%;
    font-size: 11pt;
}

.espaco {
    width: auto;
    height: 100px;
}
