.Missing { 
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-404 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3%;
}

#porco404 {
    width: 60%;
}



